body {
    background-color: black;
    background-image: url(../images/thumb-1920-1156096.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 0;
    background-image: url(../images/137-1373520_black-abstract-wallpaper-with-green-lines-data-src.jpg);
    background-size: cover;
    border: 3px solid green;
}

header a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6vw;
    text-align: center;
    color: rgb(0, 255, 0);
    -webkit-text-stroke: 2px black;
    margin: auto;
    text-decoration: none;
}

header a:hover {
    color: purple;
}

#time-left{
    height: 20px;
    width: 100px;
    margin: 20px auto;
    background-color: black;
    border: 1px solid green;
    color: green;
    text-align: center;
}

.answers {
    color: goldenrod;
    -webkit-text-stroke: 1px goldenrod;
    font-size: 22px;
    padding: 20px;
    border: solid 1px green;
    background-color: black;
}


#start-quiz {
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto 0 auto;
    height: 600px;
    width: 60%;
    background-image: url(../images/Yarzxl.png);
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    border: 5px green solid;
}

div h1 {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: gold;
    font-size: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid gold;
}

p {
    margin: 0 20px 100px 20px;
    color: gold;
    font-size: 25px;
}

.bat-button p span {
    color: rgb(2, 172, 2);
    -webkit-text-stroke: 1px rgb(2, 172, 2);
}

.button-size {
    display: flex;
    justify-content: center;
}

.bat-button {
    background-image: url(../images/111.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 225px;
    height: 75px;
    font-size: 30px;
    position: relative;
    bottom: 50px;
    color: lightgreen;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border: 2px solid green;
    margin-top: 100px;
}

.bat-button:hover {
    color: yellow;
    border: 2px solid gold;
    background-image: url(../images/791233.jpg);
}

@media only screen and (min-width: 986px) and (max-width: 1280px){
    div {
        height: 600px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 985px){
    body {
        background-image: none;
    }

    div {
        height: 700px;
        width: auto;
    }

    div p {
        font-size: 32px;
    }
}

  
@media only screen and (min-width:414px) and (max-width:767px) {
    header h1 {
        font-size: 50px;
    }

    div { 
        height: 650px;
        width: auto;
    }

    div p {
        font-size: 22px;
    } 
}

@media only screen and (min-width:375px) and (max-width: 413px) {
    body {
        background-image: none;
    }

    header {
        height: 100px;
    }

    header a {
        font-size: 32px;
    }

    div {
        height: 700px;
        width: auto;
    }

    div p {
        font-size: 22px;
    }

}

@media only screen and (min-width:280px) and (max-width: 374px) {
    
    body {
        background-image: none
    }

    header {
        height: 50px;
    }

    header a {
        font-size: 25px;
    }
    
    div {
        height: 700px;
        width: auto;
    }

    div p {
        font-size: 16px;
    }
}
